bin
db.sqlite3
ftp.duck
pyvenv.cfg
lib
staticfiles
Scripts
.svn
.vscode
.bashrc
.DS_Store
__pycache__
*/build
*/private
*/node_modules
*/migrations/*
*/.idea
*/.DS_Store
*/__init__.py
*/__pycache__
*/*/.DS_Store
djangoapp/package-lock.json
*/package-lock.json