.svn
.vscode
.DS_Store
bin
node_modules
djangoapp/node_modules
private
djangoproject/private
db.sqlite3
ftp.duck
pyvenv.cfg
lib
api/__pycache__
djangoapp/__pycache__
djangoproject/__pycache__

djangoapp/node_modules/three/examples/fonts/tabler-icons/fonts/tabler-icons.svg
djangoapp/node_modules/react-spring/node_modules/react-native/sdks/hermesc/win64-bin/icuin64.dll
djangoapp/node_modules/three/examples/jsm/libs/rhino3dm/rhino3dm.wasm
djangoapp/node_modules/flow-parser/flow_parser.js
djangoapp/node_modules/.cache/babel-loader/27f67b3c3403edcef1ab1540b353e40b.json
djangoapp/node_modules/hermes-engine/osx-bin/hermesc
djangoapp/node_modules/react-spring/node_modules/react-native/sdks/hermesc/linux64-bin/hermesc
djangoapp/node_modules/react-icons/si/index.esm.js
djangoapp/node_modules/rollup/dist/rollup.browser.js.map
djangoapp/node_modules/react-icons/si/index.js
djangoapp/node_modules/hermes-engine/linux64-bin/hermesc
djangoapp/node_modules/react-devtools-core/dist/standalone.js.map
djangoapp/node_modules/tailwindcss/peers/index.js
djangoapp/node_modules/react-spring/node_modules/react-native/android/com/facebook/react/hermes-engine/0.69.1/hermes-engine-0.69.1-release.aar
djangoapp/node_modules/.cache/default-development/index.pack
djangoapp/node_modules/react-spring/node_modules/react-native/android/com/facebook/react/react-native/0.69.1/react-native-0.69.1-debug-javadoc.jar
djangoapp/node_modules/react-spring/node_modules/react-native/android/com/facebook/react/react-native/0.69.1/react-native-0.69.1-release-javadoc.jar
djangoapp/node_modules/react-devtools-core/dist/parseSourceAndMetadata.worker.worker.js.map
djangoapp/node_modules/react-spring/node_modules/react-native/android/com/facebook/react/hermes-engine/0.69.1/hermes-engine-0.69.1-debug.aar
djangoapp/node_modules/.cache/default-development/index.pack.old
djangoapp/node_modules/.cache/default-development/index.pack.old
djangoapp/node_modules/hermes-engine/android/hermes-release.aar
djangoapp/node_modules/hermes-engine/android/hermes-debug.aar
djangoapp/node_modules/typescript/lib/tsc.js
djangoapp/node_modules/react-spring/node_modules/react-native/sdks/hermesc/osx-bin/hermesc
djangoapp/node_modules/react-icons/gi/index.esm.js
djangoapp/node_modules/react-icons/gi/index.js
djangoapp/node_modules/typescript/lib/typingsInstaller.js
djangoapp/node_modules/typescript/lib/typescript.js
djangoapp/node_modules/typescript/lib/typescriptServices.js
djangoapp/node_modules/typescript/lib/tsserverlibrary.js
djangoapp/node_modules/typescript/lib/tsserver.js
djangoapp/node_modules/.cache/default-development/0.pack
djangoapp/node_modules/jsc-android/dist/org/webkit/android-jsc/r250230/android-jsc-r250230.aar
djangoapp/node_modules/react-spring/node_modules/react-native/android/com/facebook/react/react-native/0.69.1/react-native-0.69.1-release.aar