.svn
.vscode
.DS_Store
bin
node_modules
private
db.sqlite3
ftp.duck
pyvenv.cfg
lib
staticfiles
djangoapp/node_modules
djangoproject/private
*/__pycache__
*/*/__pycache__
*/.DS_Store
api/migrations/__pycache__/__init__.cpython-310.pyc
api/migrations/__pycache__/0001_initial.cpython-310.pyc
/api/migrations/__pycache__
/djangoapp/migrations/__pycache__
djangoapp/.idea
/Scripts
__pycache__/runserver.cpython-310.pyc
djangoapp/build
api/migrations/0002_todo_discarded.py
